@model ProjectEacademy.Models.JoinGroupModels
@{
    ViewBag.Title = "JoinGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>JoinGroup</h2>
@using (Html.BeginForm("JoinGroup","Group",FormMethod.Post))
{
    @Html.ValidationMessage("JoinGroupError", new { @class = "text-danger" })
    @Html.ValidationMessage("JoinDupGroupError", new { @class = "text-danger" })
    <h5>Enter The Group Code you want to join</h5>
    <div class="form-group">
        @Html.LabelFor(g => g.ClassID, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(g => g.ClassID, new { @class = "form-control" })
    </div>
    <input type="submit" value="Join" />
}
