@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<main role="main" class="container" style="height: 100vh;">
    <div class="starter-template">
        <img src="../Content/images/error-404.png">
        <hr>
        <h1>Error 404</h1>
        <p class="lead">We can not find the page that you looking for .<br> Click here to go back to Homepage .</p>
    </div>

</main>

