@using Microsoft.AspNet.Identity
@using ProjectEacademy.Extension
@{
    ViewBag.Title = "UserHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/user-home.css")

@if (Request.IsAuthenticated)
{
    if (User.Identity.GetAccountType().Equals("Student"))
    {
        <div class="container">
            <div class="wrapper">
                <div class="sidebar">
                    <div id="username">
                        @User.Identity.GetUser();
                    </div>

                    <div class="border-style"></div>

                    <div>Your Class</div>

                    <div class="list-group">
                        <a href="#"
                           class="list-group-item list-group-item-action">
                            jQuery Tutorials
                        </a>
                        <a href="#"
                           class="list-group-item list-group-item-action">
                            BootStrap
                        </a>
                    </div>
                </div>

                <div class="main">
                    <div class="card">
                        <div class="card-header">
                            TeacherName has post in Classname
                        </div>
                        <div class="card-body">
                            <p class="card-text">Subject: </p>
                            <p class="card-text">Description: </p>
                            <p class="card-text">File</p>
                        </div>
                        <div class="card-footer text-muted">
                            Post Date
                        </div>
                    </div>
                </div>

                <div class="sidebar">
                    <p>Advertise</p>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="wrapper">
                <div class="sidebar">
                    <div id="username">
                        @User.Identity.GetUser();
                    </div>

                    <div class="border-style"></div>

                    <div>Your Class</div>

                    <div class="list-group">
                        <a href="https://www.jquery-az.com/jquery-tips/"
                           class="list-group-item list-group-item-action">
                            jQuery Tutorials
                        </a>
                    </div>
                </div>

                <div class="main">
                    <div class="card">
                        <div class="card-header">
                            You have post in Classname
                        </div>
                        <div class="card-body">
                            <p class="card-text">Subject: </p>
                            <p class="card-text">Description: </p>
                            <p class="card-text">File</p>
                        </div>
                        <div class="card-footer text-muted">
                            Post Date
                        </div>
                    </div>
                </div>

                <div class="sidebar">
                    <p>Advertise</p>
                </div>
            </div>
        </div>
    }
}
else
{
    <h2>You dont have permission to access this page</h2>
}
