@{
    ViewBag.Title = "About";
}

<main role="main" class="container">

    <div class="starter-template">
        <h1 style="font-size:80px;">About eAcademy</h1>
        <p class="lead">eAcademy is a website that going to make sure you're easy to communication like chat with your friend about assignment and you can find everything with global friend. We're so sorry for some <b>bug or error syntax</b> , So we're try to fixed alot of problem that you have reported to us As much as We can to make up for you But please be alway be with us OK .  </p>
        <h5 class="lead"> </h5>
    </div>
    <center>
        <h3>Feature</h3></br><p class="lead">This is some feature that our website can do for you and We hope you enjoy it .</p></br>
        <div class="row">
            <div class="col-lg-4">
                <img src="../Content/images/icons8_Collaboration_Female_Male_100px.png" alt="Generic placeholder image">
                <h2>Communication</h2>
                <p>Communication is the best way when you really need something important . </p>
            </div>
            <div class="col-lg-4">
                <img src="../Content/images/icons8_Students_100px.png" alt="Generic placeholder image">
                <h2>Study</h2>
                <p>Teacher , Student or Other can join study group and chat public and private . </p>
            </div>
            <div class="col-lg-4">
                <img src="../Content/images/icons8_Meeting_100px.png" alt="Generic placeholder image">
                <h2>Teaching</h2>
                <p>Communicating with your student is made easier with eAcademy.</p>
            </div>
        </div>
        <br /><br />
        <p class="lead"> if you have any Question about us you can context us by </p><h5> &copy eAcedemy@gmail.com</h5><p class="lead"> Create By : Student (Royal University of Phnom Penh)
    </center>
</main>
