@model ProjectEacademy.Models.RegisterViewModel
@{
    ViewBag.Title = "AltRegisterView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Register</h5>
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-signin", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-label-group">
                                <input type="text" name="User" id="inputUserame" class="form-control" placeholder="Username" required autofocus>
                                <label for="inputUserame">Username</label>
                            </div>

                            <div class="form-label-group">
                                <input type="email" name="Email" id="inputEmail" class="form-control" placeholder="Email address" required>
                                <label for="inputEmail">Email address</label>
                            </div>

                            <hr>

                            <div class="form-label-group">
                                <input type="password" name="Password" id="inputPassword" class="form-control" placeholder="Password" required>
                                <label for="inputPassword">Password</label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" name="ConfirmPassword" id="inputConfirmPassword" class="form-control" placeholder="Password" required>
                                <label for="inputConfirmPassword">Confirm password</label>
                            </div>

                            <div style="padding-bottom:10px;">
                                <label style="display:block;">
                                    <input type="radio" class="option-input radio" name="example" checked />
                                    Student
                                </label>
                                <label style="display:block;">
                                    <input type="radio" class="option-input radio" name="example" />Teacher
                                </label>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                            @Html.ActionLink("Log in", "AltLoginView", "Home", routeValues: null, htmlAttributes: new { @class="d-block text-center mt-2 small"})
                            <hr class="my-4">
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

